.button-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 994;
    width: 32px;
    height: 32px;
    border: 1px solid #e3e3e3;
    border-radius: 4px; 
    color: #c9c9c9;

    &:hover {
        background: #e3e3e3;
        color: #000;
    }
}
.icon {
    font-size: 32px;
}
.button-prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 994;
    width: 32px;
    height: 32px;
    border: 1px solid #e3e3e3;
    border-radius: 4px; 
    color: #c9c9c9;

    &:hover {
        background: #e3e3e3;
        color: #000;
    }
}
.icon {
    font-size: 32px;
}