.bar-code {
    font-size: 14px;
    color: #a3a3a3;
    line-height: 23px;
    display: block;
    font-family: 'RobotoBold';
}
.title-prod {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 40px;
    font-family: 'RalewayBold';
    font-weight: 500;
    color: black;

    @media (max-width: 600px) {
        font-size: 26px;
    }
}
.description-product-item {
    color: #a3a3a3;
    margin: 0;
    font-family: 'RobotoRegular';
    font-size: 14px;
    font-weight: 400;
}
.cost {
    padding-bottom: 24px;
    padding-top: 24px;
    color: #f55;
    font-size: 40px;
    font-weight: 500;
    font-family: 'RobotoBold';

    @media (max-width: 600px) {
        font-size: 30px;
    }
}
.main-info-wrap {
    padding-left: 20px;
}