.product-similar-title {
    font-weight: 500;
    margin: 27px;
    line-height: 1.2;
    text-align: center;
    font-size: 30px;
    font-family: 'RalewayBold';
    color: black;

    @media (max-width: 960px) {
        margin: 10px 0;
    }

    @media (max-width: 600px) {
        font-size: 24px;
    }
}
.similar-products-wrap {
    padding-bottom: 80px;

    .card-wrap {
        font-family: 'RobotoBold';

        .card {
            &:hover {
                text-decoration: none;
            }
        }
    }
}