.slider-wrap {
    overflow: hidden;
}
.navigation-slider {
    font-size: 32px;
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    line-height: 29px;
    border-radius: 2px;
    color: black;
}

.dots-prod {
    display: block;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    border: 1px solid gray;
    position: relative;

    &::after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: background 0.3s ease;
        background: rgba(0,0,0,0);    
    }

    &:hover::after {
        background: rgba(0,0,0,0.1);
    }
}

.navigation-slider {
    width: 32px;
    height: 32px;
    color: #e3e3e3;
    border: 1px solid #e3e3e3;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 32px;
    transition: background, color 0.3s ease;
    text-align: center;

    &:hover {
        color: #000;
        background: #f2f2f2;
    }

    &:after {
        font-family: FontAwesome;
    }
} 
.slide-nav-left-prod {
    left:  -62px;
    &:after {
        content: "\F104";
    }

    @media (max-width: 768px) {
        left: 0;
    }
}

.slide-nav-right-prod {
    right:  -62px;
    &:after {
        content: "\F105";
    }

    @media (max-width: 768px) {
        right: 0;
    }
}

.product-slider {
    overflow: hidden;

    .owl-nav {
        button {
            .slide-nav-left-prod {
                left: -136px;
                transition: left 0.18s ease-out;
            }
            .slide-nav-right-prod {
                right: -136px;
                transition: right 0.18s ease-out;
            }
        }
    }

    &:hover {
        .owl-nav {
            button {
                .slide-nav-left-prod {
                    left: -62px;
                }
                .slide-nav-right-prod {
                    right: -62px;
                }
            }
        }   
    }
}