.root {
    background: white;
    margin-top: 28px;
}
.headerTab {
    background: white;
    box-shadow: none;
    border-bottom: 1px solid #e3e3e3;
    color: #333;
}
.tabContent {
    padding: 24px 0;
    color: #888;
}

.tab-wrap {
    margin-top: 50px;
    font-family: RobotoRegular;
    table {
        font-family: RobotoRegular;
    }
    .uk-tab {
        li.uk-active {
            margin-bottom: 0;
            a {
                border-color: transparent;
                color: #d9001d;
                border-bottom-color: #ddd;
            }
        }
        li a {
            color: black;
            font-family: 'RobotoBold';
            font-size: 14px;
            font-weight: 500;
        }
        
        li a:hover {
            border-color: white;
            background: white;
        }

        li:first-child {
            a {
                padding-left: 0;
            }
        }
    }
}

.uk-switcher {
    li {
        font-size: 16px;
        line-height: 26px;
        color: gray;
        font-family: 'Rubik';
    }
}