@import "bootstrap";
@import "waves";
@import "animate";
@import "materialize";
@import "bootstrap-material-datetimepicker";
@import "waitMe";
@import "bootstrap-select";
@import "style";
@import "theme";


.user-info {
  height: 95px;
  background: #d42412;
}

.common-alert {
  display: inline-block;
  padding: 40px 0;
  margin: auto;
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 1031;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  color: white;
  background: rgba(76, 120, 175, 0.9098039215686274) !important;
}

.common-close {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1033;
  opacity: 1;
}