.breadcrumb {
    background: #f2f2f2;
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'RobotoBold';
    .uk-breadcrumb {
        margin-bottom: 0;
        min-width: 900px;
            
        @media (max-width: 960px) {
            min-width: 0;
            width: 90%;
        }
        
        li {
            a {
                color: black;
                transition: color 0.3s ease;

                &:hover {
                    color: #4b9488;
                    text-decoration: none;
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}