@import 'components/side_bar';
@import 'components/pagination';

.sidebar {
    padding-right: 10px;
}
.products-wrap {
    padding-left: 10px;

    @media (max-width:768px) {
        padding-left: 0;
    }

    .uk-grid {
        .card-wrap {
            padding: 0 10px 20px 10px;
            
            .card {
                .uk-card-title {
                    font-family: 'RalewayBold';
                }
            }
            
            @media (max-width: 1100px) and (min-width: 960px) {
                width: 50%;
            }

            @media (max-width: 768px) and (min-width: 600px) {
                width: 50%;
            }

            &:hover {
                text-decoration: none;

                .card {
                    text-decoration: none;
                }
            }
        }

        .category-wrap {
            @media (max-width: 350px) {
                padding-left: 0;
                padding-right: 0;
            }
        
            @media (min-width: 350px) and (max-width: 768px) {
                padding-left: 5px;
                padding-right: 5px;
                width: 50%;
            }
        }
    }
}

.category-wrap {
    @media (max-width: 1100px) and (min-width: 960px) {
        width: 33%;
    }

    @media (max-width: 768px) and (min-width: 350px) {
        width: 50%;
    }
}

.title {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: black;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
}
.pagination-info {
    font-size: 12px;
    color: #9a9a9a;
    height: 49px;
    line-height: 49px;    
}
.wrap-sort {
    padding: 0 10px;
}
.main {
    width: 100%;
}

.list-products-wrap {
    padding-top: 35px;
    padding-bottom: 40px;
    min-width: 900px;

    @media (max-width: 960px) {
        min-width: 0;
        width: 90%;
        padding-top: 10px;
    }
}

.pagination-catalog {
    li {
        a, span {
            background: white;
            border: 1px solid #b3b3b3;
            border-radius: 2px;
            padding: 10px 15px;
        }
        span {
            margin-left: 10px;
            background: #e3e3e3;
        }
    }
}

.list-item-wrap {
    padding: 0 10px 20px 10px;
}


.list-item-container {
    display: flex;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s ease;

    &:hover {
        text-decoration: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    }

    .wrap-media {
        max-width: 150px;
        padding: 10px;
        text-align: left;

        img {
            width: 100%;
        }
    }
    .title-wrap {
        padding: 10px;
        max-width: 400px;
        text-align: center;

        .title-card {
            min-height: auto;
            font-family: 'RalewayBold';

        }
    }
    .wrap-price {
        padding: 10px;
        width: 200px;
        text-align: right;

        .price {
            
        }
    }       
}

.price-text-wrap {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;

    input {
        max-width: 105px;
        width: 49%;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        padding: 10px;
    }
}

.slider {
    border-radius: 0;
    border: none !important;
    background: #cac8c8;
    height: 3px;

    .ui-slider-range {
        background: #ff5555;
        width: 44%;
    }

    span {
        border: none !important;
        background: #f55 !important;
        border-radius: 100%;
        top: -7px !important;
    }
}

.back-btn-mob-wrap {
    padding: 0px 7px 14px 10px;
}

.fiter-btn-mob-wrap {
    padding: 0 10px 14px 7px;
}

.mob-filter-menu {
    z-index: 1000000;

    .uk-offcanvas-bar {
        background: white;
    }
}

#filter {
    .uk-offcanvas-bar {
        width: 100%;
    }
}


.btn-back-catalog {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
        padding: 12px;
    }

    .btn-back-icon {
        color: gray;
        font-size: 30px;
        height: 20px;
        line-height: 19px;
        transition: color 0.3s ease;
    }

    .btn-back-text {
        text-transform: uppercase;
        font-family: RalewayBold;
        color: #474747;
        line-height: 24px;
        height: 20px;    
        transition: color 0.3s ease;
    }

    &:hover {
        text-decoration: none;
        border: 1px solid #ff5555;
        
        .btn-back-icon {
            color: #ff5555;
        }
    
        .btn-back-text {
            color: #ff5555;
        }
    }
}

.margin-catalog {
    .main,
    .main-wrap {
        background: white;
    }
}

.products-wrap {
    .card {
        box-shadow: none;
        text-align: center;
        width: 100%;
        display: block;
        border-radius: 3px;
        transition: box-shadow 0.3s ease;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.08);

        &:hover {
            box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
            text-decoration: none;
        }

        .uk-card-body {
            padding: 20px 10px 29px 10px;

            .title-card {
                margin: 0;
                min-height: 56px;
                font-family: 'RalewayBold';
                color: black;
                font-size: 16px;
                font-weight: 400;
            }

            .price {
                color: #f55;
                padding-top: 20px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'RobotoBold';
            }
        }
    }
}