.root {
    display: flex;
    flex-wrap: wrap;
}
.form-control {
    min-width: 120;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 5px;
    height: 50px;
    margin: 0 0 0 8px;
}
.input-props {
    border: none;
    height: 100%;

    &:after {
        border: none;
    }
    &:before {
        border: none;
    }
    &:hover {
        border: none;    
        &:before {
            border: none !important;
        } 
    }
}
.item {
    height: 100%;
    line-height: 40px;
}
.button {
    width: auto;
    min-width: 50px;
    height: 50px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    margin: 0 0 0 8px;
}
.disable {
    color: #b4b4b4;
    background: #f2f2f2;
}
.iconSmall {
    font-size: 20;
}
.icon {
    padding: 15px 0;
    width: 30px;
}
.label {
    color: #333;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
    height: 49px;
}
.pagination-wrap {
    margin-bottom: 65px;
}