.filter-close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.sidebar-wrap {
    width: 100%;
    box-shadow: none;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    box-sizing: border-box;

    .uk-accordion-title {
        border-bottom: 1px solid #e3e3e3;
        background: none;
        margin: 0;
        padding: 20px;
        color: rgba(0, 0, 0, 0.7294117647058823);
        font-size: 15px;
        font-weight: bold;
        font-family: 'RalewayBold';
    }
    .uk-accordion-content {
        padding: 25px 15px;
        border-bottom: 1px solid #e3e3e3;
        background: rgba(234, 234, 234, 0.13);
        box-shadow: inset 0px 0px 25px 0px rgba(182, 182, 182, 0.12);

        .props-item {
            padding: 5px 0 5px 14px;
            display: block;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            transition: 0.3s ease color;
            font-family: 'RobotoBold';

            &:hover {
                color: #d9001d;
                text-decoration: none;
            }

            &.active {
                color: #d9001d;
            }

            &.active:before {
                font-family: FontAwesome;
                color: #d9001d;
                content: "\f046";
            }

            &:before {
                font-family: FontAwesome;
                content: "\f096";
            }
        }
    }

    .title-accordion-cat {
        padding: 0;
    }

    &.sidebar-wrap-category {
        .uk-accordion-content {
            background: white;
            box-shadow: none;
        }
    }
}

.product-sidebar-title {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    font-family: 'RalewayBold';
}

.choose-options {
    margin-bottom: 32px;
    background: #f2f2f2;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    
    .uk-accordion-title {
        padding: 0px 0 10px 0;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        font-family: 'Rubik';
    }

    .uk-accordion-content {
        padding: 25px 0;
        box-shadow: none;

        .props-item {
            color: gray;
            position: relative;
            font-family: 'Rubik';
            font-size: 14px;
            font-weight: 400;

            @media (max-width: 960px) {
                color: #d9001d;
            }

            &:hover {
                &:before {
                    content: "\f014";
                    font-family: FontAwesome;
                    color: #d9001d;
                    position: absolute;
                } 
            }
            &:before {
                font-family: FontAwesome;
                content: "";
                position: absolute;     
                right: 0;
                
                @media (max-width: 960px) {
                    content: "\f014";
                    color: #d9001d;
                }
            }
        }
    }

    .clear-btn {
        padding: 10px 1px 0;
        font-size: 13px;
        transition: 0.3s ease color;
        display: block;
        color: gray;

        &:hover {
            color: #d9001d;
            text-decoration: none;
        }

        @media (max-width: 960px) {
            color: #d9001d;
        }
    }
}