@import 'components/slider';
@import 'components/buttons';
@import 'components/main_info';
@import 'components/tabs';
@import 'components/information_table';
@import 'components/similar_products';
@import 'components/item';

.main-wrap {
    padding-top: 45px;
}

.wrap-sort {
    padding-left: 10px;
    padding-bottom: 20px;
    
    &__panel {
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        padding: 15px 9px;
        font-family: 'RobotoRegular';

        &__item {
            line-height: 26px;
            line-height: 38px;
            height: 30px;

            @media(max-width: 768px) {
                width: 50%;
            }

            &__name {
                color: rgb(0, 0, 0);
                font-size: 15px;
                font-weight: normal;
                font-family: 'RobotoRegular';
                line-height: 30px;
                width: 30%;
                min-width: 100px;

                &__ico {
                    font-size: 24px;
                    padding: 5px 3px;
                    color: #979696;
                    transition: color 0.3s ease;
            
                    &:hover {
                        color: black;
                    }

                    &.active {
                       color: black; 
                    }
                }

                &__sort-switcher {
                    display: block;
                    float: left;
                    width: 150px;
                    height: 30px;
                    background: none;
                    border: 1px solid #cecece;
                    
                    @media (max-width: 768px){
                        width: 100%;
                    }
                }
            }

            &--center {
                text-align: center;

                .wrap-sort__panel__item__name {
                    width: 100%;
                }
            }
        }
    }
}