.main-section {
    .container-wrap {
        &:last-child {
            padding-right: 0;
            padding-left: 6px;
        }

        @media (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;   

            &:last-child {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

.category-section {
    .container-wrap {
        @media (max-width: 350px) {
            padding-left: 0;
            padding-right: 0;
        }

        @media (min-width: 350px) and (max-width: 768px) {
            padding-left: 5px;
            padding-right: 5px;
            width: 50%;
        }
    }

    @media (max-width: 768px) {
        padding-top: 30px !important;
        margin-top: 0 !important;
    }
}

.container-wrap {
    padding: 12px 10px 0 0;
    box-sizing: border-box;
    position: relative;
}
.container {
    position: relative;
    overflow: hidden;
    display: block;
    &:hover img {
        top: -5%;
        left: -5%;
        width: 110%;
    }
    &:after {
        content: "";
        height: 100%;
        right: 50%;
        left: 50%;
        background: rgba(0, 0, 0, .2);
        position: absolute;
        transition: left 0.16s ease-out;
        z-index: 100;
        top: 0;
    }
    &:before {
        content: "";
        height: 100%;
        right: 50%;
        left: 50%;
        background: rgba(0, 0, 0, .2);
        position: absolute;
        transition: right 0.16s ease-out;
        z-index: 100;
        top: 0;
    }
    &:hover:after {
        left: 0,
    }
    &:hover:before {
        right: 0,
    }
}
.img {
    transition: all 0.3s ease-out;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 10000000%;
}

.category-title-main {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -4%, rgba(23, 23, 23, 0.6) 52%);
    font-family: 'RalewayBold';
    font-weight: 700;

    @media (max-width: 768px) {
        padding: 10px;
        font-size: 18px;
    }

    @media (max-width: 480px) {
        padding: 10px 5px;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
    }
}