@font-face {
  font-family: "RalewayRegular";
  src: url("../../../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../../../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("../../../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayThin";
  src: url("../../../fonts/RalewayThin/RalewayThin.eot");
  src: url("../../../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayThin/RalewayThin.woff") format("woff"),
  url("../../../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url("../../../fonts/RalewayExtraLight/RalewayExtraLight.eot");
  src: url("../../../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
  url("../../../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayLight";
  src: url("../../../fonts/RalewayLight/RalewayLight.eot");
  src: url("../../../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayLight/RalewayLight.woff") format("woff"),
  url("../../../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../../../fonts/RalewayMedium/RalewayMedium.eot");
  src: url("../../../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
  url("../../../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../../../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../../../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
  url("../../../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../../../fonts/RalewayBold/RalewayBold.eot");
  src: url("../../../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayBold/RalewayBold.woff") format("woff"),
  url("../../../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url("../../../fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../../../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
  url("../../../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBlack";
  src: url("../../../fonts/RalewayBlack/RalewayBlack.eot");
  src: url("../../../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
  url("../../../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../../../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../../../fonts/Roboto/RobotoBold/RobotoBold.eot")format("embedded-opentype"),
  url("../../../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
  url("../../../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../../../fonts/Roboto/RobotoLight/RobotoLight.eot");
  src: url("../../../fonts/Roboto/RobotoLight/RobotoLight.eot")format("embedded-opentype"),
  url("../../../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
  url("../../../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../../../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../../../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../../../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../../../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../../../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../../../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


body {
  background: #f8f8f8;
  font-family: RobotoMedium;
  overflow-x: hidden;
}

h4 {
  font-family: RalewayBold;
}

.main-nav {
  height: 64px;
  padding: 0;
  box-shadow: 0px -3px 13px 0px rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: white;
  margin: 0;
  transition: all 0.3s ease;
  ul {
    @media (max-width: 765px) {
      width: 80%;
    }

    li.nav-item {
      @media (max-width: 1100px) and (min-width: 960px) {
       a {
         padding: 0 3px;
         font-size: 11px;
       }
      }
      height: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      box-sizing: border-box;
      transition: all 0.3s ease;
      a {
        height: 100%;
        font-family: RalewayBold;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 0.3s ease;
      }
      &:hover {
        a {
          background: white;
        }
      }
    }
    .uk-navbar-flip {

      li.nav-item {
        height: 64px;
        padding: 0;
        a {
          height: 100%;
          line-height: 64px;
          position: relative;
          &::after {
            content: '';
            display: block;
            width: 0;
            margin: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: #4b9488;
            transition: all 0.3s ease;
          }
        }
        &:hover {
          a {
            background: white;
            &::after {
              width: 100%;
            }
          }
        }
      }
      li.active {
        a {
          background: white;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.mobile-nav {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: -100%;
  position: fixed;
  z-index: 10000000;
  transition: all 0.6s ease;
  background: rgba(255, 255, 255, 0.51);

  .menu-items-center {
    height: 300px;
    top: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 105px;
  }

  .uk-container-center {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #424242;
          font-size: 18px;
          font-family: RalewayBold;
        }
      }
    }
  }
}

.mobile-nav-active {
  top: 0%;
}
.blur-effect {
  filter: blur(4px);
  transition: all 0.5s ease;
}
.mob-menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  opacity: 1;
  color: #505050;
}

.mob-effect {
  overflow-x: hidden;
}

.btn {
  background-color: #4b9488;
  text-transform: uppercase;
  border: solid 2px #4b9488;
  font-family: RalewayBold;
  transition: all 0.3s ease;

  &:hover {
    background: none;
    color: #4b9488;
  }
}

.btn-inverse {
  background: none;
  font-family: RalewayBold;
  text-transform: uppercase;
  color: #4b9488;
  border: solid 2px #4b9488;

  &:hover {
    background-color: #4b9488;
    border: solid 2px #4b9488;
    transition: all 0.3s ease;
  }

  @media (max-width: 960px) {
    font-size: 12px;
    width: 100%;
  }
}

.btn-white {
  background: none;
  font-family: RalewayBold;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 2px #ffffff;
}

.direction-hover {
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.4) !important;
  cursor: pointer;
}

.direction-hover-title {
  position: absolute;
  bottom: 0;
  width: 90%;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 17px;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  font-family: RalewayBold;
  height: 25px;
  box-sizing: border-box;
  margin: auto !important;
  @media (max-width: 960px) {
    bottom: 15px;
    width: 90%;
    font-size: 20px;
  }
  
  @media (max-width: 1250px) and (min-width: 960px) {
    top: -72px;
  }
}

.direction-btn {
  display: block;
  width: 120px;
  bottom: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.uk-overlay-hover:hover {
  .direction-hover {
    .direction-hover-title::after {
      bottom: -90px;
    }
  }
}

footer {
  background: #f1f3f4;
}

.social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  border-radius: 100%;
  border: 1px solid #444450;
  color: #444450;
  transition: all 0.3s ease;
  margin: 3px;

  &:hover {
    background: #444450;
    color: white;
  }
}

.owl-prev,
.owl-next {
  width: 16%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
  .main-slide-nav {
    @media (max-width:760px) {
      display: none;
    }
  }
}

.owl-next {
  right: 0;
}

.owl-prev {
  left: 0;
}

.owl-item {
  figure {
    margin: 0;
  }
}

.slide-nav {
  width: 30px;
  height: 46px;
  line-height: 42px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  position: absolute;
  font-size: 75px;
  z-index: 100000000;
  &::after {
    font-family: FontAwesome;
  }
}

.slide-nav-left::after {
    content: "\f104";
}

.slide-nav-right::after {
  content: "\f105";
}

.main-news-overlay {
  cursor: pointer;
  &:hover {
    .main-news-title {
      padding-bottom: 50px;
      bottom: 0;
    }

    .main-news-date {
      padding-bottom: 10px;
      bottom: 15px;
    }
  }
}

.slider-title {
  font-family: RalewayBold;
  text-transform: uppercase;
  font-size: 40px;

  @media (max-width: 960px) {
    font-size: 20px;
    line-height: 22px;
  }
}

.slider-text {
  @media (max-width: 960px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.main-slider {
    .owl-item {
      .uk-overlay-panel {
        padding: 45px;
      }
    }
}

.main-about {
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.about-text-main {
  padding: 20px;
  text-align: left;
}

.btn-site {
  background: #1a5ca3;
  color: white;
}

.projects-card {
  padding: 10px;
  &:hover {
    .uk-panel {
      box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.32);
    }
  }
  .uk-panel {
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

    h3 {
      margin: 0;
      padding: 15px 25px;
      text-align: left;
      text-transform: uppercase;
      font-size: 18px;
      position: relative;
      font-family: RalewayBold;

      &::after {
        content: '';
        width: auto;
        height: 3px;
        display: block;
        position: absolute;
        background: #1a5ca3;
        bottom: 2px;
        left: 25px;
        right: 25px;
      }
    }

    .uk-text-muted {
      text-align: left;
      padding: 10px 25px;
    }
  }
}

.part-site-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-family: RalewayBold;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 45px;
  @media (max-width: 960px) {
    font-size: 24px;
  }
}

.subnav-site {
  background: white;
  box-sizing: border-box;
  height: 56px;
  border-bottom: 1px solid #efefef;
  z-index: 99;
  position: relative;

  ul {
    li.active{
      a {
        &::after {
          width: 100%;
        }
      }
    }
    li {
      cursor: pointer;
      a {
        cursor: pointer;
        height: 100%;
        line-height: 57px;
        position: relative;
        font-size: 11px;
        font-family: RalewayBold;
        text-transform: uppercase;

        &::after {
          content: '';
          display: block;
          width: 0;
          margin: auto;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 4px;
          background-color: #4b9488;
          transition: all 0.3s ease;
        }
      }
      &:hover {
        a {
          background: white;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.subnav-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  position:relative;
  height: 70px;
  text-align:center;
}

.subnav-wrap-about {
  @media (max-width: 960px) {
    width: 425px;
  }
}

.left-blur,
.right-blur {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 20px;
  width: 68px;
  z-index: 2;
}

.left-blur {
  left: 0;
  background: linear-gradient(to right, white 36%, rgba(255, 255, 255, 0.29) 100%);
}

.right-blur {
  right: 0;
  background: linear-gradient(to left, white 36%, rgba(255, 255, 255, 0.29) 100%);
}

.subnav-wrap::-webkit-scrollbar { width: 0; }
.subnav-wrap { -ms-overflow-style: none; }
.subnav-wrap { overflow: -moz-scrollbars-none; }

.subnav-b {
  white-space: nowrap;
  width: 940px;
  height: 55px;
  max-width: none;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  @media (max-width: 960px) {
    margin-right: 65px;
    margin-left: 65px;
  }
}

.subnav-b-about {
  width: 340px;

  @media (max-width: 960px) {
    width: 460px;
  }
}

.licen-title {
  font-family: RalewayBold;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 40px;
}

.wrap-licen {
  padding-top: 35px;
  @media (max-width: 960px) {
    padding-left: 0 !important;
  }

  @media (max-width: 960px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.title-about-screen {
  @media (max-width: 960px) {
    margin: 0 !important;
    padding: 25px 0 15px 0;
  }
}

.owl-item {
  .uk-overlay {
    width: 100%;
  }
}
.section-center-about,
.section-contact-us-about,
.section-main-about {
  width: 100%;
  img {
    width: 100%;
  }
}

.pagination {
  .uk-pagination-previous,
  .uk-pagination-next {
    a {
      margin-left: 10px;
      background: white;
      padding: 10px;
      width: 115px;
      height: 24px;
      text-align: right;
      line-height: 24px;
      color: gray;
      text-transform: uppercase;
      background: none;
      border: 2px solid gray;
      i {
        float: left;
        font-size: 30px;
        line-height: 22px;
      }
    }
  }

  .uk-pagination-next {
    a {
      margin-right: 10px;
      text-align: left;
      i {
        float: right;
      }
    }
  }
}


.card-rotate {
  .uk-width-1-2 {
    position: relative;
    a {
      position: absolute;
      bottom: 0;
    }

    h3 {
      font-family: RalewayBold;
      text-transform: uppercase;
    }
  }

  .uk-width-1-2:first-child {
    padding-right: 20px;
    text-align: left;
    a {
      left: 0px;
    }
  }

  .description-services {
    text-align: left;
  }
  .description-padding {
      @media (min-width: 960px) {
        padding-left: 20px;
      }
  }

  .img-padding-left {
    @media (min-width: 960px) {
      padding-right: 20px;
    }
  }

  .img-padding-right {
    @media (min-width: 960px) {
      padding-left: 20px;
    }
  }

  .uk-width-1-2:last-child {
    padding-left: 20px;
    text-align: left;
    a {
      left: 20px;
    }
  }

  &:nth-child(odd) {
    background-color: white;
  }
}


.contact-icon {
  height: 40px;
  background: white;
  width: 40px;
  color: #4b9488;
  font-size: 19px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #4b9488;
}

.contact-text {
  padding-left: 10px;
  h3 {
    font-size: 13px;
    margin-bottom: 0;
  }

  .uk-align-left {
    @media (max-width: 1360px) and (min-width: 960px) {
      line-height: normal;
      text-align: center;
      float: none;
      padding: 0;
      width: 100%;
    }
  }
}

.wrap-contact-input {
  padding-bottom: 14px;
  input {
    background: none !important;
    border: 2px solid #b1b0b0 !important;
    padding: 20px 17px !important;
  }

  textarea {
    background: none;
    border: 2px solid #b1b0b0;
    resize: none;
    padding: 20px 17px !important;
  }
}

@media (min-width: 960px) {

  .wrap-contact-input-left {
    padding-right: 7px;
  }

  .wrap-contact-input-center {
    padding-right: 7px;
    padding-left: 7px;
  }

  .wrap-contact-input-right {
    padding-left: 7px;
  }
}
.btn-contact {
  padding: 9px;
}

.item-description-wrapper {
  background: white;
}

.description-item {
  padding: 46px 45px 26px;
  background: white;
  color: #272727;
  font-size: 14px;
  line-height: 21px;
  font-family: RobotoMedium;
  @media (max-width: 960px) {
    padding: 35px 8px 20px;
  }
  img {
    margin-bottom: 20px !important;
    margin-top: 20px;
  }
}

.description-item-news {
  padding: 35px 38px 20px;
}

.info-item-box {
  padding-left: 20px;
  border-left: 1px #d6d6d6 solid;
  @media (max-width: 960px) {
    border: none;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.text-description {
  padding-right: 51px;
  @media (max-width: 960px) {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

.title-item {
  font-family: RalewayBold;
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 23px !important;

  @media (max-width: 960px) {
    font-size: 24px;
  }
}

.title-screen {
  font-family: RalewayBold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media (max-width: 960px) {
    font-size: 24px;
  }
}

.subtitle-category {
  color: white !important;
  background: #1a5ca3;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 18px !important;
  margin-bottom: 10px;
}

.sidebar-news {
  padding: 10px 25px;
}

.link-sidebar-news {
  color: gray;
  padding: 10px 0px;
  width: 100%;
  display: block;
  transition: 0.3s ease color;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.last-news-wrap {
  .last-news-card:first-child {
    padding-right: 10px;
    @media (max-width: 960px) {
      padding: 0;
    }
  }


  .last-news-card:last-child {
    padding-left: 10px;
    @media (max-width: 960px) {
      padding: 0;
    }
  }

  .last-news-card:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
    @media (max-width: 960px) {
      padding: 0;
    }
  }

  .last-news-card {
    transition: all 0.3s ease;
    cursor: pointer;
    h4 {
      font-family: RalewayBold;
      text-transform: uppercase;
    }
    .uk-panel-box {
      background: white;
    }
    @media (max-width: 960px) {
      margin-bottom: 10px;
    }
  }
}

.title-block {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: RalewayBold;
}

.clients-logo {
  position: relative;
  height: 150px;
  img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto !important;
    max-width: 90%;
    max-height: 90%;
  }
  &:hover {
    img {
      filter: grayscale(0%);
    }
  }
}

.b-ico {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: 1px solid;
  box-sizing: border-box;
  text-align: center;
  line-height: 28px;
  margin-right: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  &:hover {
    background: #474747;
    color: #f1f3f4;
  }
}

.title-cascad-card {
  font-family: RalewayBold;
  font-size: 30px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 48px;
  margin-top: 15px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -24px;
    left: 2px;
    width: 40px;
    height: 2px;
    background: black;

    @media (max-width: 960px) {
      bottom: -10px;
      left: 0px;
    }
  }

  @media (max-width: 960px) {
    font-size: 22px;
    margin-bottom: 22px;
    margin-top: 5px;
  }
}

.subtitle-cascad-card {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 3px;
  font-family: RalewayBold;
  color: #4b9488;
}

.date-cascad-card {
  color: #4b9488;
  font-size: 17px;
  padding-top: 10px;
}

.description-cascad-cards {
  color: rgb(121, 121, 121);
  font-size: 15px;
  line-height: 23px;
  font-family: RobotoMedium;
  font-weight: 400;
  text-align: left;
  height: 95px;
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (max-width: 960px) {
    font-size: 13px;
    height: 100px;
  }
}
.description-cascad-main {
  @media (max-width: 960px) {
    height: 162px;
  }
}

.cascad-card:nth-child(even) {
  @media (min-width: 960px) {
    .uk-panel {
      padding-left: 20px;
    }
    img {
      padding-top: 70px;
    }
  }
}

.cascad-card:nth-child(odd) {
  @media (min-width: 960px) {
    .uk-panel {
      padding-right: 20px;
    }

    img {
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 960px) {
  .cascad-card {
      padding: 0 !important;
  }
}

.logo-words {
  height: 65%;
  margin-left: 5px;
  margin-top: 12px;
}
.logo {
  @media (max-width: 960px) {
    width: 90px;
  }
  a {
    img {
      float: left;
    }
  }
}

.logo-words {
  width: 0px;
  transition: all 0.3s ease;
}

.scroll-height {
  @media (min-width: 960px){
    height: 100px;
    ul {
      li.logo {
        padding-bottom: 12px;
        padding-top: 12px;
        a {
          img {
            display: block;
            float: left;
          }
          .logo-words {
            width: 55px;
          }

          &::before {
            content: none;
          }
        }
      }
      ul {
        height: 100%;
      }
    }
    .nav-item {
      height: 100px !important;
      a {
        line-height: 100px !important;
      }
    }
  }
}

.top-block {
  margin-top: 90px !important;

  @media (max-width: 960px) {
    margin-top: 64px !important;
  }
}

.common-header {
  @media (max-width: 960px) {
    background: white !important;
    color: #444444;
    height: 87px !important;
    width: 100%;
    border-bottom: 1px solid #efefef;
  }
}

.parallax-window {
  background: transparent;
  min-height: 400px;
  width: 100%;

  @media (max-width: 960px) {
    min-height: 87px;
  }
}

.owl-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;

  .owl-dot {
    border: white solid 2px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 3px;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .active {
    background: white;
  }
}

.projects-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100px;
  margin: auto !important;
  cursor: pointer;
  perspective: 700px;
  backface-visibility: hidden;
  @media (min-width: 960px) {
    &:hover {
      .arrow {
        background: rgba(0,0,0,0.5);
      }
      .preview-projects {
        transform: rotateY(0deg);
        transition-delay: 0s;
      }
    }
  }
  .arrow {
    width: 33px;
    background: rgb(177, 177, 177);
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 26px;
    transition: all 0.3s ease;
  }
  .preview-projects {
    width: 205px;
    height: 100px;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;

    .text-preview {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      color: white;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

.item-charact {
  li {
    color: black !important;
    margin-bottom: 10px;
    font-family: RalewayBold;
    @media (max-width: 960px) {
      float: left;
      width: 8%;
      margin: 0 !important;
      padding: 0 !important;
      height: 40px;
      box-sizing: border-box;
      span {
        display: none;
      }
    }
  }

  .value-charact {
    width: 92%;
    float: left;
    height: 40px;
    box-sizing: border-box;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.title-recommend {
  padding-top: 34px;
  font-family: RalewayBold;
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 48px;
  margin-top: 15px;
  position: relative;

  @media (max-width: 960px) {
    font-size: 20px;
    padding-top: 0px;
    margin-bottom: 15px;
    padding-left: 0px;
  }
}

.title-about-contacts {
  @media (max-width: 960px) {
    text-align: center !important;
    color: white !important;
  }
 }

.text-about-contacts {
  @media (max-width: 960px) {
    text-align: center;
    color: white;
  }
}

.more-works {
  @media (max-width: 960px) {
    padding-left: 0 !important;
  }
}

.nav-left {
  left: 0;
  .preview-projects {
    left: 100%;
    transform: rotateY(92deg);
    transform-origin: 0% 50%;
  }
}

.info-contact-item {
  margin-bottom: 15px !important;

  @media (max-width: 960px) and (min-width: 768px) {
    width: 195px;
    display: flex;
    margin-bottom: 25px !important;
  }

  @media (max-width: 768px) {
    width: 200px;
  }
}

.nav-right {
  right: 0;
  .preview-projects {
    right: 100%;
    transform: rotateY(-92deg);
    transform-origin: 100% 50%;
  }
}

.icon-item {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 16px;
  margin-right: 5px;
  color: #4c4b4b;
}
.ico-wrap {

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 960px) {
    margin-top: 20px;
    padding-left: 0;
  }
 }
.item-categoria {
  padding: 5px;
  color: #636363;
  border: solid 1px #636363;
  border-radius: 0;
  background: 0;
  cursor: pointer;
  margin: 2px;
  transition: all 0.3s ease;

  &:hover {
    background: #636363;
    color: white;
  }
}

.recommend-b {
  .uk-panel:hover {
    img {
      filter: grayscale(74%);
    }
  }
  .uk-panel {
    cursor: pointer;
    h4 {
      font-size: 17px;
      font-weight: 600;
      line-height: 18px;
      margin-top: 30px !important;
      color: #444444;
    }
    img {
      filter: grayscale(0%);
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}

.main-icon-stat {
  width: 110px;
  height: 110px;
  border: solid 2px #444444;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  color: #444444;
  font-size: 50px;
  text-align: center;
  line-height: 104px;

  img {
    width: 59%;
  }

  @media (max-width: 960px) {
    width: 80px;
    height: 80px;
    font-size: 35px;
    line-height: 80px;
  }
}

.about-title-main {
  font-family: RalewayBold;
  margin-bottom: 25px;
  font-size: 35px;
  color: white !important;

  @media (max-width: 960px) {
    font-size: 24px;
  }
}

.about-text-main-b {
  color: white !important;
}

.padding-bottom-news-main {
  padding-bottom: 35px !important;
  @media (max-width: 960px) {
    padding-bottom: 15px !important;
  }
}

.main-btn-news-more {
  margin-top: 100px;
  width: 160px;
  @media (max-width: 480px) {
    width: 80%;
  }
}

.stat-block {
  padding-bottom: 100px;
  padding-top: 100px;
  @media (max-width: 960px) {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

.about-btn {
  margin-top: 25px;
}

.description-card-rotate {
  color: black;
  font-family: RobotoMedium;
  margin-bottom: 15px;
}

.licen-card {
  h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 30px !important;
    color: #444444;
  }
}

.info-about {
  color: #4b9488;
  margin-bottom: 10px;
  font-size: 50px;
}

.about-title-ico {
  margin-bottom: 17px;
  line-height: 24px;
  font-size: 25px;
  font-family: RalewayBold;
}

.about-title-ico-second {

  @media (max-width: 960px) {
    padding-top: 30px;
  }
}

.about-white-section {
  background: white;
  padding-top: 90px;
  padding-bottom: 90px;

  @media (max-width: 960px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.right-block-about {
  background: #ededed;
}

.about-hover {
  background: rgba(0, 0, 0, 0.5);
}

.btn-about-main {
  position: absolute;
  top: 40px;
  bottom: 0px;
  height: 34px;
  margin: auto;
  right: 30%;

  @media (max-width: 1300px) and (min-width: 960px) {
    right: 10%;
  }

  @media (max-width: 960px) {
    right: 0;
    width: 250px;
    left: 0;
    bottom: 34px;
    top: auto;
  }
}

.about-main-block {
  @media (max-width: 1300px) and (min-width: 960px) {
    width: 80%;
  }
}

.overlay-about {
  background: rgba(0,0,0,0.5);
  @media (max-width: 960px) {
    background: none;
    color: #444444;
  }
}

.subtitle-about-page {
  font-size: 18px;
  font-family: RalewayBold;
}

.footer-column {

  .uk-text-left {
    display: inline-block;
    @media (max-width: 960px) {
      * {
        text-align: center;
      }
    }
  }
  @media (max-width: 960px) {
    margin-bottom: 15px;
  }
}

.none-visible {
  opacity: 0;
  transition: all 0.3s ease;
}

.uk-animation-scale {
  opacity: 1;
  transition: all 0.3s ease ;
}

.main-stat-text {
  font-family: RobotoMedium;
}

.btn-open-mob-menu {
  font-size: 35px;
  color: black;
  display: block;
  padding-top: 0;
  height: 64px;

  @media (max-width: 960px) {
    width: 60px;
  }
}

.item-more-news-description {
  height: 42px;
  overflow: hidden;
}

.b-contact {
  padding-left: 25px;
  transition: all 0.3s ease;
  .header-contact-link {
    height: 100%;
    line-height: 60px;
    cursor: pointer;
    font-size: 20px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #4b9488;

      transition: all 0.3s ease;
      &:hover {
        color: #4b9488;
      }
    }
  }
}

.scroll-height {
  .b-contact {
    padding-top: 18px;
  }
}

video {
  @media (max-width: 960px) {
    display: none;
  }
}

.btn-main {
  @media (max-width: 480px) {
    width: 67%;
  }
}

.item-about-main {
  @media (max-width: 690px) {
  padding: 0 !important;
  }
}

.list-menu {
  @media (max-width:  1280px) and (min-width: 960px) {
    width: 75% !important;
  }
}

.wrap-direction-main {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.direction-block {
  padding: 5px;

  .uk-overlay-hover {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.cssload-jumping{
  position:relative;
  display:block;
  margin: 15px auto;
  width:71px;
  display: none;
}

.cssload-jumping, .cssload-jumping * {
  box-sizing: border-box;
}

.cssload-jumping span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: rgb(0,0,0);
  border-radius: 325px;
  background-clip: padding-box;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
  animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
  animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
  animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
  animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
  animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.9, 0.9);
    background: rgba(0,0,0,0.69);
  }
  50% {
    transform: scale(1, 1);
    margin: 0 2px;
    background: rgb(0,0,0);
  }
  100% {
    transform: scale(0);
  }
}

@-o-keyframes scale {
  0% {
    -o-transform: scale(0);
  }
  25% {
    -o-transform: scale(0.9, 0.9);
    background: rgba(0,0,0,0.69);
  }
  50% {
    -o-transform: scale(1, 1);
    margin: 0 2px;
    background: rgb(0,0,0);
  }
  100% {
    -o-transform: scale(0);
  }
}

@-ms-keyframes scale {
  0% {
    -ms-transform: scale(0);
  }
  25% {
    -ms-transform: scale(0.9, 0.9);
    background: rgba(0,0,0,0.69);
  }
  50% {
    -ms-transform: scale(1, 1);
    margin: 0 2px;
    background: rgb(0,0,0);
  }
  100% {
    -ms-transform: scale(0);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.9, 0.9);
    background: rgba(0,0,0,0.69);
  }
  50% {
    -webkit-transform: scale(1, 1);
    margin: 0 2px;
    background: rgb(0,0,0);
  }
  100% {
    -webkit-transform: scale(0);
  }
}

@-moz-keyframes scale {
  0% {
    -moz-transform: scale(0);
  }
  25% {
    -moz-transform: scale(0.9, 0.9);
    background: rgba(0,0,0,0.69);
  }
  50% {
    -moz-transform: scale(1, 1);
    margin: 0 2px;
    background: rgb(0,0,0);
  }
  100% {
    -moz-transform: scale(0);
  }
}

section {
  overflow-x: hidden;
}

.info-contacts-block {
  @media (max-width: 960px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 1360px) and (min-width: 960px) {
    display: block !important;
  }

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.form-contacts {
  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.contact-ico-wrap {
  @media (min-width: 960px) and (max-width: 1360px) {
    float: none;
    margin-bottom: 10px;
    height: 64px;
  }
}

.wrap-reviews {
  width: 66.6666% !important;
  overflow: hidden;

  .owl-nav {
    display: block !important;
  }
}

.wrap-card-review {

  .card-review {
    background: white;
    padding: 20px;
    box-shadow: 0 0 27px rgba(133, 133, 133, 0.278);

    img {
      max-width: 100%;
    }


  }
}

.uk-pagination-previous {
  padding-left: 10px;
  text-align: left;
}

.uk-pagination-next {
  padding-right: 12px;
  text-align: right;
}

.uk-pagination-previous,
.uk-pagination-next {
  width: 120px;

  .page-link {
    padding: 10px 25px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.08);
    color: black;
    transition: all 0.3s ease;
    width: 100%;

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 3px 2px rgba(0,0,0,0.13);
    }
  }

  span.page-link {
    background: #f1f3f4;
    color: gray;
  }
}